.sidebarContainer {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--brand-primary);
  padding: 2rem;
  border-radius: 0 2rem 2rem 0;
}

.topSection {
  position: relative;
  width: 100%;
}

.beeSection {
  height: 150px; /* mudar para a seção da abelha rainha que ta no figma */
  border-radius: 9999;
  background-color: var(--brand-primary-hover);
  margin-top: 1rem;
}

.sidebarItems,
.bottomItems {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebarItem,
.sidebarItemActive {
  display: flex;
  gap: 0.5rem;
  font-family: var(--font-roboto-mono);
  font-size: var(--text-xl);
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  font-weight: var(--font-bold);
}

.sidebarItemActive {
  background-color: var(--brand-secondary);
  color: var(--brand-primary);
  &&:hover {
    background-color: var(--brand-secondary-hover);
  }
  &&:active {
    background-color: var(--secondary-900);
  }
}

.sidebarItem {
  color: var(--brand-secondary);
  &&:hover {
    background-color: var(--brand-primary-hover);
  }
}

.bottomItems {
  margin-top: auto;
}

.divider {
  border: 1px solid var(--brand-secondary);
}
