.card{
    height: 100%;
    max-height: 380px;
    width: 410px;
    aspect-ratio: 1/1;
    background-color: var(--primary-400);
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.7);
    }
    
}

.aboutDiscipline{
    height: 100%;
    max-height: 280px;
    width: 100%;
    background-color: var(--primary-100);
    position: absolute;
    bottom: 0;
    padding: 20px;
    border-radius: 8px;
    
}

.disciplineName{
    font-size: 20px;
    font-weight: bold;
   
}

.iconTitle{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.professor{
    font-size: 16px;
    color: var(--secondary-600);
}

.semestre{
    font-size: 14px;
    
    color: var(--neutral-600);
    margin-top: 20px;
    margin-bottom: 80px;
}
.enterButton{
    width: 100%;
    height: 40px;
    
}
