.card {
  width: 320px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Skeleton cinza claro sem animação no estilo Notion */
.bannerSkeleton {
  width: 100%;
  height: 100px;
  background-color: var(--primary-300);
}

.aboutDiscipline {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconTitle {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
  font-size: var(--text-lg)
}

.professor {
  margin: 0 0 16px 0;
  font-size: var(--text-base);
  color: var(--neutral-500);
}
