.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup label {
  font-size: var(--text-lg);
  color: var(--secondary-800);
  font-family: var(--font-poppins);
  font-style: bold;
}

.input {
  width: 100%;
  padding: 20px;
  border: 0px;
  font-size: var(--text-xl);
  border-bottom: 4px solid var(--secondary-800);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--transparent);
  transition: all 0.3s ease;
}

.input:hover {
  transform: scale(1.05);
}

.botao {
  color: var(--primary-100) !important;
  background-color: var(--secondary-800) !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin-top: 20px !important;
}

.botao:hover {
  background-color: var(--secondary-700) !important;
  transform: scale(1.05);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
  justify-content: flex-start;
  width: 100%;
}

.errorSpan {
  color: var(--accent-bad-600);
  font-size: var(--text-lg);
  font-family: var(--font-roboto-mono);
  text-align: center;
}

.authRedirect {
  font-family: var(--font-roboto-mono);
  color: var(--accent-warning-900);
  font-weight: 500;
}
