.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup label {
  font-size: var(--text-lg);
  color: var(--secondary-800);
  font-family: var(--font-poppins);
  font-style: bold;
}

.input {
  width: 100%;
  padding: 20px;
  border: 0px;

  border-bottom: 4px solid var(--secondary-800);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--transparent);
  transition: all 0.3s ease;
}

.input:hover {
  transform: scale(1.05);
}

.botao {
  color: var(--primary-100) !important;
  background-color: var(--secondary-800) !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin-top: 20px !important;
}
.botao:hover {
  background-color: var(--secondary-700) !important;
  transform: scale(1.05);
}
