:root {
  /* colors */
  --neutral-100: #f4f4f2ff;
  --neutral-200: #e2e1d7ff;
  --neutral-300: #cac9b9ff;
  --neutral-400: #a9a893ff;
  --neutral-500: #77765eff;
  --neutral-600: #53533bff;
  --neutral-700: #403f22ff;
  --neutral-800: #2c2b15ff;
  --neutral-900: #171706ff;

  --primary-100: #fffbedff;
  --primary-200: #fff1c3ff;
  --primary-300: #fadf85ff;
  --primary-400: #f9d254ff;
  --primary-500: #f7c41dff;
  --primary-600: #c29607ff;
  --primary-700: #876804ff;
  --primary-800: #574303ff;
  --primary-900: #281f01ff;

  --secondary-100: #fbf0e7ff;
  --secondary-200: #f3d3b6ff;
  --secondary-300: #eab686ff;
  --secondary-400: #e29856ff;
  --secondary-500: #da7b25ff;
  --secondary-600: #a9601dff;
  --secondary-700: #794415ff;
  --secondary-800: #49290cff;
  --secondary-900: #180e04ff;

  --transparent: rgba(121, 68, 21, 0.514);

  --accent-good-100: #eaffe0ff;
  --accent-good-200: #c9f8b4ff;
  --accent-good-300: #9dea7aff;
  --accent-good-400: #6fe439ff;
  --accent-good-500: #59d221ff;
  --accent-good-600: #3aa309ff;
  --accent-good-700: #2b7d05ff;
  --accent-good-800: #1f5903ff;
  --accent-good-900: #0f3000ff;

  --accent-warning-100: #fff5e6ff;
  --accent-warning-200: #ffe5c2ff;
  --accent-warning-300: #fac67dff;
  --accent-warning-400: #ffb247ff;
  --accent-warning-500: #ed9111ff;
  --accent-warning-600: #bc7005ff;
  --accent-warning-700: #975a06ff;
  --accent-warning-800: #683f05ff;
  --accent-warning-900: #382100ff;

  --accent-bad-100: #ffe5e2ff;
  --accent-bad-200: #fdc1b7ff;
  --accent-bad-300: #fa9484ff;
  --accent-bad-400: #f46d58ff;
  --accent-bad-500: #ed381cff;
  --accent-bad-600: #bf1f06ff;
  --accent-bad-700: #9f200cff;
  --accent-bad-800: #701406ff;
  --accent-bad-900: #420a02ff;

  --accent-info-100: #e1edfaff;
  --accent-info-200: #b3d2f5ff;
  --accent-info-300: #7db4f2ff;
  --accent-info-400: #4e97eaff;
  --accent-info-500: #287ee0ff;
  --accent-info-600: #0e54a4ff;
  --accent-info-700: #073d7cff;
  --accent-info-800: #042952ff;
  --accent-info-900: #011831ff;

  /* font sizes */
  --text-xs: 0.75rem;
  /* 12px - Legendas/Labels */
  --text-sm: 0.875rem;
  /* 14px - Texto secundário */
  --text-base: 1rem;
  /* 16px - Texto principal (padrão) */
  --text-lg: 1.25rem;
  /* 20px - Subtítulos */
  --text-xl: 1.5rem;
  /* 24px - Títulos menores */
  --text-2xl: 2rem;
  /* 32px - Títulos de seção */
  --text-3xl: 3rem;
  /* 48px - Hero / Dashboard */

  /* weights */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* line height */
  --leading-tight: 1.2;
  --leading-base: 1.5;

  /* sidebar width */
  --sidebar-width: 350px;

  /* color semantic variables */
  /* 1. BRAND COLORS */
  --brand-primary: var(--primary-500);
  --brand-primary-hover: var(--primary-600);
  --brand-secondary: var(--secondary-800);
  --brand-secondary-hover: var(--secondary-700);

  /* 2. BACKGROUNDS */
  --bg-main: var(--primary-200);
  --bg-surface: var(--neutral-100);
  --bg-surface-contrast: var(--primary-300);
  --bg-inverse: var(--neutral-900);

  /* 3. TYPOGRAPHY */
  --text-main: var(--primary-900);
  --text-muted: var(--neutral-500);
  --text-on-brand: var(--primary-900);
  --text-inverse: var(--neutral-100);

  /* 4. BORDERS & FILLS */
  --border-default: var(--neutral-300);
  --border-muted: var(--neutral-200);

  /* 5. FEEDBACKS */
  --success-default: var(--accent-good-500);
  --success-bg: var(--accent-good-100);

  --warning-default: var(--accent-warning-500);
  --warning-bg: var(--accent-warning-100);

  --danger-default: var(--accent-bad-500);
  --danger-bg: var(--accent-bad-100);

  --info-default: var(--accent-info-500);
  --info-bg: var(--accent-info-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: var(--font-roboto-mono);
  line-height: var(--leading-tight);
  color: var(--brand-secondary);
}

ol,
ul,
li {
  list-style: none;
}

p {
  font-size: var(--text-base);
  line-height: var(--leading-base);
}

body {
  margin: 0;
  background-color: var(--main-bg);
}

.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/background-tiles.svg');
  background-size: 40rem;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
